<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handcraft.mapper.GroupTalkMsgMapper">

    <insert id="add" parameterType="groupTalkMsg">
        insert into  groupMsgRecord(msg,qqCode,groupCode,sendTime)
        values (#{msg},#{qqCode},#{groupCode},now());
    </insert>

    <select id="queryAll" resultType="groupTalkMsg">
        SELECT * FROM groupMsgRecord;
    </select>

</mapper>